body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  width: 400px;
  height: 600px;
  flex-wrap: 400px;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
}

div {
   display: flex;
}

button {
  width: 100px;
  height: 100px; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  background-color: #d8d9db;
}

button:active {
color: #bbbcbe;
}
button:hover {
 background-color:#ebebeb;
}
button.fnc:active {
backcolor: #dd8d37;
}

button.fnc:hover {
  background-color: #dfb07e;
}

div .result {
  width: 400px;
  height: 100px;
  justify-content: flex-end;
  
}

div .c {
width: 200px;
}

div .zero {
width: 300px;
}
button.fnc {
  background-color: #df974c;
}
